// ==========================================================================
// Uses Flexbox
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/
// ==========================================================================

// Grid Settings
// ==========================================================================

p {
  font-size: 50px;
}

// ==========================================================================
// Min-width Breakpoints
// ==========================================================================

$xs: 26em;
$small: 36em;
$medium: 46em;
$large: 65em;
$xl: 75em;

$break-xl: 75em;

// Default Size
.container {
  @include flex;
  @include flex-wrap;
}

// Element spacing
// ==========================================================================

$leading: 20px !default;
$spacing-base: 12px !default;
$spacing-small: 5px !default;
$spacing-xs: 3px !default;

$border-radius: 5px;

// ==========================================================================
// Color Settings
// ==========================================================================

// Base Colors
// ==========================================================================
$body-color:		    #002538;

// Color Palette in Use
$caribbean-green:	  #1fb78c;

// Base Colors
// ==========================================================================
$white-smoke:       #F4F6F9;
$pacific-blue:      #0088CC;
$mine-shaft:		    #333333;
$mountain-meadow:   #1FB78C;

// Theme Colors
// ==========================================================================
$dark-orchid:		    #9620C6;
$dodger-blue:		    #317DFC;
$festival:          #E5C439;
$cinnabar:	        #EA4324;
$bright-maroon:	    #CF2652;
$mantis:		        #8FB647;
$keppel:            #30ADA2;

// ==========================================================================
// Color Palettes
//
// Creates a palette for each base color. Convenient, because the entire
// palette is adjusted by just changing the base color variable.
// ==========================================================================

$palettes             : (

    sunday            : (
        x-light       : #F4EEF6,
        light         : #CB9CFC,
        base          : $dark-orchid,
        dark          : #721B9B
    ),

    monday            : (
        x-light       : #f0f5fe,
        light         : #ACD1F2,
        base          : $dodger-blue,
        dark          : #1C4B8E
    ),

    tuesday           : (
        x-light       : #F9F6E6,
        light         : #F7EAB5,
        base          : $festival,
        dark          : #66581B
    ),

    wednesday         : (
        x-light       : #FBEDEA,
        light         : #F9BEB9,
        base          : $cinnabar,
        dark          : #B72323
    ),

    thursday          : (
        x-light       : #FAF0F2,
        light         : #F4B3CE,
        base          : $bright-maroon,
        dark          : #991A41
    ),

    friday            : (
        x-light       : #EDF4E2,
        light         : #D9EAAD,
        base          : $mantis,
        dark          : #516028
    ),

    saturday          : (
        x-light       : #DAECEB,
        light         : #A3E5D9,
        base          : $keppel,
        dark          : #124f49
    )

);

$days : (
    sunday,
    monday,
    tuesday,
    wednesday,
    thursday,
    friday,
    saturday
);

// ==========================================================================
// Type Settings
// ==========================================================================


// Font Family
// ==========================================================================

$font-stack: 'Whitney SSm A', 'Whitney SSm B', sans-serif;

$font-size: 1rem;
$font-sizes:
    (h1 2.2em 2.7rem)
    (h2 1.8em 2.0rem)
    (h3 1.4em 1.3rem)
    (h4 1.0em 1.4rem)
    (h5 1.0em $font-size)
    (h6 1.0em $font-size)
    (p  1.0em $font-size);

$line-height-heading: 135%;
$line-height: 1.35em;

$weight-light: 300;
$weight-base: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

%headings-base {
  font-family: $font-stack;
  line-height: $line-height-heading;
}

// Form Fields
$form-animation: top, color;

// ==========================================================================
// Asset Settings
// ==========================================================================

$asset-path: '';
