// ==========================================================================
// Event Listings
// ==========================================================================

.events {
  @include flex;
  @include align-items(center);
  @include flex-direction(column);
}

.event-link {
  @include border-radius(0.25em);
  @include flex;
  @include transition(all 0.3 ease-in-out);
  margin: 4px;
  position: relative;
}

.day-title {
    background: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: $weight-semibold;
    line-height: 1;
    margin: $leading;
    margin-top: 0;
}

.listing__title {
    font-size: 15px;
    font-weight: $weight-semibold;
}

.party-excerpt {
    display: block;
    font-weight: 400;
    margin: $leading/2 $leading;
}

.party-excerpt p {
    font-size: 15px;
}

.party-date {
    display: none;
}

.listing-description {
  padding: 0.5rem;
}

// ==========================================================================
// Outputs day-specific theme colors.
// Settings + map is in '_config.scss'.
// ==========================================================================

@each $day in $days {

    ##{$day} .event-link {
        background: palette($day, light);
        color: palette($day, dark);
        fill: palette($day, dark);
    }

    ##{$day} .party-date,
    ##{$day} .event__time {
        background: palette($day);
        text-shadow: 1px 1px 15px darken(palette($day), 20);
    }

}

.event-link .event__time {
  @include border-radius(0.25em 0.25em 0 0);
  color: white;
  display: block;
  font-weight: $weight-semibold;
  padding: $spacing-base $leading;
  text-transform: lowercase;
}

.event-type {
  @include flex($justify: flex-start);
  @include align-items(flex-end);
}

.icon {
  margin-top: 1.25rem;
}

// @medium
// ==========================================================================
@media (min-width: $medium) {

  .events {
    @include align-items(flex-start);
  }

  .event-listing {
    margin: 6px;
    max-width: 30em;
  }

  .event-link {
      @include border-radius(0.25rem);
      @include transition(all 0.3 ease-in-out);
      border: none;

      &:hover,
      &:focus {
          @include transform(scale(1.03));
      }

  }

  .event-listing .event__time {
    @include border-radius(0.25em 0 0 0.25em);
    @include flex-shrink(0);
    color: #FFF;
    display: block;
    font-weight: $weight-semibold;
    padding: $spacing-base;
    width: 20%;
  }

  .party-excerpt {
      margin: 0;
  }

}

// @large
// ==========================================================================
@media (min-width: $large) {

    .event-link {
        margin: 0;
        padding: 0;
    }

}


// ==========================================================================
// ICONS
// ==========================================================================

.icon {
    display: inline-block;
    float: left;
    margin-right: $spacing-small;
    max-height: 16px;
    max-width: 16px;
    width: 16px;
    vertical-align: middle;
}

.twitter .icon {
    margin-right: 3px;
}

// @large
// ==========================================================================
@media (min-width: $large) {

    .icon {
        max-height: 20px;
        max-width: 20px;
        width: 20px;
    }

}

// ==========================================================================
// Submit Event
// ==========================================================================

.submit-event h1 {
    border-bottom: .250rem solid lighten($pacific-blue, 50);
}

// ==========================================================================
// Tint Colors
// ==========================================================================

@each $day in $days {

    ##{$day} .tint,
    ##{$day} a.twitter {
        color: palette($day);
        fill: palette($day);

        &:hover,
        &:focus {
            color: darken(palette($day), 15);
            fill: darken(palette($day), 15);
        }

    }

    ##{$day} article a {
        color: palette($day);
        fill: palette($day);

        &:hover,
        &:focus {
            color: darken(palette($day), 15);
            fill: darken(palette($day), 15);
        }

    }

}

// ==========================================================================
// Footer Icons
// ==========================================================================

.separator--footer {
  border: 0;
  border-top: 1px solid darken($white-smoke, 85);
  display: block;
  margin: 0px auto;
  width: 60%;
}

.footer-icons {
  margin-bottom: $spacing-base;
}

.footer-icons li {
    display: inline-block;
    margin: $spacing-small;
}

.footer-icons svg {
    fill: lighten($pacific-blue, 15);
    width: 18px;
}

.footer-icons .twitter {
    margin-top: 2px;
}

.footer__link:hover,
.footer__link:focus {
  color: darken($pacific-blue, 15);
}

.footer-credit {
    margin-top: $spacing-base;
}

// ==========================================================================
// Max Small
// ==========================================================================

@media (max-width: $medium) {

  .day-title {
    text-align: center;
  }

  .event-link {
    @include flex-direction(column);
  }

}

// ==========================================================================
// @medium and up
// ==========================================================================

@media (min-width: $medium) {

  .day:not(#monday) {
    margin-top: 2rem;
  }

  .party-excerpt p {
    margin-bottom: 0;
  }

}
