// ==========================================================================
// Event Listings
// ==========================================================================

.events {
  @include flex;
  @include align-items(center);
  @include flex-direction(column);
  white-space: normal;
}

.event-link {
  @include flex;
  @include transition(all 0.3 ease-in-out);
  border-radius: 0.25em;
  margin: 4px;
  position: relative;
}

.day-title {
  color: white;
  font-size: 1.1rem;
  font-weight: $weight-semibold;
  line-height: 1;
  margin: $leading;
  margin-top: 0;
  text-align: center;
}

.listing__title {
  font-size: 15px;
  font-weight: $weight-semibold;
}

.party-excerpt {
  display: block;
  font-weight: $weight-base;
}

.party-excerpt p {
  font-size: 15px;
  font-style: italic;
}

.listing-description {
  padding: 0.5rem;
}

// ==========================================================================
// Outputs day-specific theme colors.
// Settings + map is in '_config.scss'.
// ==========================================================================

@each $day in $days {

    ##{$day} .event-link {
      background: palette($day, light);
      color: palette($day, dark);
      fill: palette($day, dark);
    }

    ##{$day} .event-time-type {
      background: palette($day);
    }

    ##{$day} .event__time {
      text-shadow: 1px 1px 15px darken(palette($day), 20);
    }

}

// override
#wednesday .event-time-type {
  color: darken(palette(wednesday, dark), 15);
  fill: darken(palette(wednesday, dark), 15);
}

.event-link .event-time-type {
  border-radius: 0.25em 0.25em 0 0;
  display: block;
  font-weight: $weight-semibold;
  padding: $spacing-base $leading;
  text-transform: lowercase;
}

.event-time-type {
  @include flex($justify: flex-start);
  @include align-items(flex-end);
}

.event-type {
  display: none;
}

.endash {
  font-weight: $weight-base;
}

// Only @small
// ==========================================================================
@media (max-width: $medium - 1) {

  .event-link {
    width: 18rem;
  }

}

// @medium
// ==========================================================================
@media (min-width: $medium) {

  .event-listing {
    margin: 6px;
    max-width: 30em;
  }

  .event-link {
      @include transition(all 0.3 ease-in-out);
      border-radius: 0.25em;
      border: none;

      &:hover,
      &:focus {
          @include transform(scale(1.03));
      }

  }

  .event-listing .event-time-type {
    @include flex-shrink(0);
    border-radius: 0.25rem 0 0 0.25rem;
    display: block;
    font-weight: $weight-semibold;
    padding: $spacing-base;
    width: 6rem;
  }

  .event__time {
    color: white;
  }

  .listing-description {
    @include align-self(center);
    width: 30rem;
  }

}

// @large
// ==========================================================================
@media (min-width: $large) {

  .event-link {
    margin: 0;
    padding: 0;
  }

}

// ==========================================================================
// Submit Event
// ==========================================================================

.submit-event h1 {
    border-bottom: .250rem solid lighten($pacific-blue, 50);
}

// ==========================================================================
// Tint Colors
// ==========================================================================

@each $day in $days {

    ##{$day} .tint,
    ##{$day} a.twitter {
        color: palette($day);
        fill: palette($day);

        &:hover,
        &:focus {
            color: darken(palette($day), 15);
            fill: darken(palette($day), 15);
        }

    }

    ##{$day} article a {
        color: palette($day);
        fill: palette($day);

        &:hover,
        &:focus {
            color: darken(palette($day), 15);
            fill: darken(palette($day), 15);
        }

    }

    ##{$day} .event-title__link {
      border-color: darken(palette($day), 50);
    }

    ##{$day} .event-title__link:hover,
    ##{$day} .event-title__link:focus {
      border-color: darken(palette($day), 15);
      border-bottom-width: 2px;
    }

}

// ==========================================================================
// Max Small
// ==========================================================================

@media (max-width: $medium - 1) {

  .event-link {
    @include flex-direction(column);
  }

}

// ==========================================================================
// @medium and up
// ==========================================================================

@media (min-width: $medium) {

  .day {
    margin: 0px auto;
    margin-top: 2rem;
    width: 100%;
  }

  .day-title {
    font-size: 2em;
    font-weight: $weight-base;
  }

  .party-excerpt p {
    margin-bottom: 0;
  }

}


// ==========================================================================
// only @hover
// ==========================================================================

@media (hover: hover) {

  .event-time {
    height: 50px;
  }

  .event-type {
    @include flex($justify: center);
    @include align-items(center);
    height: 0;
    opacity: 0;

    .event-link:hover &,
    .event-link:focus & {
      @include transition(opacity 300ms ease);
      height: 50px;
      opacity: 1;
    }

  }

  .event-link:hover,
  .event-link:focus {

    .event__time {
      @include visual-hide;
    }

  }


}
