// ==========================================================================
// Event Listings
// ==========================================================================

.events {
  @include flex;
  @include flex-direction(column);
  width: 320px;
}

.event-listing a {
  @include border-radius(0.25em);
  @include flex;
  @include flex-direction(column);
  @include transition(all 0.3 ease-in-out);
  margin: 4px;
  position: relative;
  width: 98%;
}

.day-title {
    background: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: $weight-semibold;
    line-height: 1;
    margin: $leading;
    margin-top: 0;
    text-align: center;
}

.module-day h3 {
    font-size: 15px;
    font-weight: $weight-semibold;
}

.party-excerpt {
    display: block;
    font-weight: 400;
    margin: $leading/2 $leading;
}

.party-excerpt p {
    font-size: 15px;
}

.party-date {
    display: none;
}

// ==========================================================================
// Outputs day-specific theme colors.
// Settings + map is in '_config.scss'.
// ==========================================================================

@each $day in $days {

    ##{$day} .event-listing a {
        background: palette($day, light);
        color: palette($day, dark);
        fill: palette($day, dark);
    }

    ##{$day} .party-date,
    ##{$day} .party-time {
        background: palette($day);
    }

}

.event-listing .party-time {
  @include border-radius(0.25em 0.25em 0 0);
  color: white;
  display: block;
  font-weight: $weight-semibold;
  padding: $spacing-base $leading;
}

.party-type {
  @include flex($justify: flex-start);
  @include align-items(flex-end);
  padding: 0 $spacing-base;

  span, svg, i {
    margin: 5px;
  }

}

// @medium
// ==========================================================================
@media (min-width: $medium) {

  .event-listing {
    margin: 6px;
  }

  .event-listing a {
      @include border-radius(0.25em);
      @include transition(all 0.3 ease-in-out);
      border: none;
      min-height: 320px;

      &:hover,
      &:focus {
          @include transform(scale(1.03));
      }

  }

    .day-title {
        display: none;
    }

    .event-listing .party-date {
        @include border-radius(0.25em 0.25em 0 0);
        color: #FFF;
        display: block;
        font-weight: $weight-semibold;
        padding: $spacing-base;
    }

    .event-listing .party-time {
        // HACK
        background: none !important;
        color: inherit;
        display: block;
        font-size: 80%;
        font-weight: $weight-semibold;
        margin: $leading*1.5 $spacing-base;
        margin-bottom: 0;
        padding: 0;
    }

    .party-excerpt {
        margin: $spacing-base;
        margin-top: 0;
    }

}

// @large
// ==========================================================================
@media (min-width: $large) {

    .event-listing {
        width: 320px;
    }

    .event-listing a {
        margin: 0;
        min-height: 320px;
        padding: 0 0 1rem 0;
    }

}


// ==========================================================================
// ICONS
// ==========================================================================

.icon {
    display: inline-block;
    float: left;
    margin-right: $spacing-small;
    max-height: 16px;
    max-width: 16px;
    width: 16px;
    vertical-align: middle;
}

.twitter .icon {
    margin-right: 3px;
}

// @large
// ==========================================================================
@media (min-width: $large) {

    .icon {
        max-height: 20px;
        max-width: 20px;
        width: 20px;
    }

}

// ==========================================================================
// Submit Event
// ==========================================================================

.submit-event h1 {
    // @include full;
    border-bottom: .250rem solid lighten($pacific-blue, 50);
}

// ==========================================================================
// Tint Colors
// ==========================================================================

@each $day in $days {

    ##{$day} .tint,
    ##{$day} a.twitter {
        color: palette($day);
        fill: palette($day);

        &:hover,
        &:focus {
            color: darken(palette($day), 15);
            fill: darken(palette($day), 15);
        }

    }

    ##{$day} article a {
        color: palette($day);
        fill: palette($day);

        &:hover,
        &:focus {
            color: darken(palette($day), 15);
            fill: darken(palette($day), 15);
        }

    }

}

// ==========================================================================
// Footer Icons
// ==========================================================================

footer hr {
    border: 0;
    border-top: 1px solid darken($white-smoke, 10);
    display: block;
    margin: 0px auto;
    width: 60%;
}

.footer-icons {
  margin-bottom: $spacing-base;
}

.footer-icons li {
    display: inline-block;
    margin: $spacing-small;
}

.footer-icons svg {
    fill: darken($white-smoke, 15);
    width: 18px;
}

.footer-icons .twitter {
    fill: darken($white-smoke, 15);
    margin-top: 2px;
}

.footer-text {
    a:hover,
    a:focus {
        color: darken($pacific-blue, 15);
    }
}

.footer-credit {
    margin-top: $spacing-base;
}
