// ==========================================================================
// Header
// ==========================================================================

.header--global {
	@include flex;
	background: $pacific-blue;
	margin-bottom: $leading*1.5;
	padding: $leading 0;
}

header h1 {
	padding-top: 0;
}

// ==========================================================================
// Footer
// ==========================================================================

footer {
	@include flex;
	@include justify(center);
	width: 100%;
}


// @large
// ==========================================================================
@media (min-width: $large) {

		.header--global {
				background: transparent;
		}

}

// ==========================================================================
// Articles
// ==========================================================================


// @large
// ==========================================================================
@media (min-width: $large) {

	article {
    @include flex;
    @include flex-direction(column);
    @include justify(flex-end);
	}

	.description {
		@include flex;
		@include flex-direction(column);
		width: 66%;
	}

}

// @medium
// ==========================================================================
@media (min-width: $medium) {

	aside {
		@include flex;
    @include flex-direction(column);
		width: 33.33%;
	}

}

// ==========================================================================
// Footer
// ==========================================================================

footer {
	background: $white-smoke;
	color: darken($white-smoke, 30);
	padding: 2rem 0;
	text-align: center;
}

// @large
// ==========================================================================
@media (min-width: $large) {

	footer {
		margin-top: 3rem;
		padding: 5rem 0;
	}

}
