// ==========================================================================
// Modules
// ==========================================================================

.section-events {
  background: darken($white-smoke, 80);
  padding: 1rem;
}

.event__date {
  @include flex($justify: center);
  @include flex-direction;
}

.meta-time {
  @include flex($justify: space-between);
  background-color: darken($white-smoke, 83);
  color: white;
  margin: 0px auto;
  padding: $leading;
}

.module-location,
.map__link,
.map__source {
  padding: 0 1.5rem;
}


#locations {
  padding: 20px 0;
}

#locations li {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4xLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSItOTEgODkgMTYgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgLTkxIDg5IDE2IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNEQ0RDREMiIGQ9Ik0tODMsODljLTQuNCwwLTgsMy42LTgsOGMwLDQuMiw3LjMsMTUuMyw3LjYsMTUuOGMwLjEsMC4xLDAuMiwwLjIsMC40LDAuMnMwLjMtMC4xLDAuNC0wLjINCgljMC4zLTAuNSw3LjYtMTEuNiw3LjYtMTUuOEMtNzUsOTIuNi03OC42LDg5LTgzLDg5eiBNLTgzLDEwMC41Yy0xLjksMC0zLjUtMS42LTMuNS0zLjVzMS42LTMuNSwzLjUtMy41czMuNSwxLjYsMy41LDMuNQ0KCVMtODEuMSwxMDAuNS04MywxMDAuNXoiLz4NCjwvc3ZnPg0K') left center no-repeat;
  background-size: 12px auto;
  border-bottom: 1px solid darken($white-smoke, 5);
  font-size: 80%;
  margin: $spacing-base 0;
  padding-left: $leading;
}


// ONLY @small
// ==========================================================================
@media (max-width: $medium) {

  .section-events {
    display: inline-block; // for overflow
    overflow-x: scroll;
    white-space: nowrap;
  }

  .day {
    display: inline-block;
  }

  .module-location {
    margin-top: $leading;
  }

}

// @medium
// ==========================================================================
@media (min-width: $medium) {

  .event__date {
    @include flex-direction(row);
    @include justify(center);
    padding-top: 1rem;
  }

  .section-events {
    @include flex;
    @include flex-wrap;
  }

  .meta-time {
    @include flex($justify: space-between);
    border-radius: 0.25rem;
    margin-bottom: $leading;
    padding: $leading 0;
    width: 100%;
  }
}

// @large
// ==========================================================================
@media (min-width: $large) {

  .section-events {
    width: 75%;
  }

  .module-location {
    @include flex-basis(50%);
    @include flex-shrink(0);
    @include flex-grow(2);
    border-top: none;
    padding-top: 1.5rem;
  }

  .event-location {
    border-radius: 0.25rem;
  }
}
