// ==========================================================================
// Nav
// ==========================================================================

.nav--global {
    margin: 0px auto;
    padding: 0;
    width: 90%;
}

.site-title a {
    color: #FFF;
    margin-top: 0.5rem;
    text-decoration: none;
}

// ==========================================================================
// Add Event Button
// ==========================================================================

.add-event {

  a {
    @include border-radius(.250rem);
    @include transition(background-color .3s ease);
    border: 1px solid #FFF;
    color: #FFF;
    display: inline-block;
    float: right;
    font-weight: $weight-semibold;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: darken($pacific-blue, 10%);
      color: #FFF;
      text-shadow:0px -1px 1px darken( $pacific-blue, 2%);
    }

    &:hover svg,
    &:focus svg {
        fill: #FFF;
    }

    svg {
        fill: white;
        margin-right: $spacing-small;
    }

  }

}

// @medium
// ==========================================================================
@media (min-width: $medium) {

    .nav--global ul {
        display: block;
    }

    .add-event a {
        padding: 1rem;
    }

}

// @large
// ==========================================================================
@media (min-width: $large) {

    .nav--global {
        @include flex;
        width: 100%;
    }

    .site-title a {
        color: $pacific-blue;
        font-size: 2em;
        margin-top: 1rem;

        &:hover,
        &:focus {
            color: darken($pacific-blue, 15);
        }
    }

    .add-event a {
        background-color: $pacific-blue;
        border-color: $pacific-blue;
    }
}

// ==========================================================================
// Filters
// ==========================================================================

#filters {
  @include flex($justify: center);
  @include flex-direction(column);
  margin: 0 $leading/2 $leading*2;
}

.filter__icon {
  @include inline-flex;
  background: darken($pacific-blue, 5);
  border: 2px solid $pacific-blue;
  border-radius: 100%;
  fill: white;
  margin-right: 0.25rem;
  height: 2.5rem;
  width: 2.5rem;

  svg {
    margin: 0px auto;
    margin-top: 0.75rem;
  }

}

#filters .icon {
  // fill: darken($pacific-blue, 5);
}

.heading--filters {
  color: darken($white-smoke, 30);
  font-size: 1.1rem;
  font-weight: $weight-medium;
}

.filter-options {
  @include flex;
  @include align-self(center);
}

#filters input + label {
  @include flex;
  @include align-items(center);
  border-radius: 40px;
  background: lighten($pacific-blue, 50);
  color: darken($pacific-blue, 5);
  font-weight: 500;
  padding-right: 1rem;
  margin: 8px 8px 0 0;
  text-align: center;

  &:hover,
  &:focus {
      background: lighten($pacific-blue, 45);
      color: darken($pacific-blue, 20);
  }

  &:hover svg,
  &:focus svg {
      fill: desaturate(darken($pacific-blue, 10), 16);
  }
}

#filters input[type="checkbox"]:checked + label {
  background: $mountain-meadow url('../img/checkmark.svg') 8px center no-repeat;
  background-size: 16px auto;
  color: white;

  svg {
    fill: none;
  }
}

// @large
// ==========================================================================
@media (min-width: $large) {

    #filters {
      margin-bottom: $leading*2;
    }

    #filters input + label {
      font-size: 1.111rem;
      margin: $leading/2 $leading/2 $leading/2 0;
      // padding: 1em 0.8em;
    }

    #filters input[type="checkbox"]:checked + label {
      background: $mountain-meadow url('../img/checkmark.svg') 10px center no-repeat;
      background-size: 30px auto;
    }

}

// ==========================================================================
// Previous + Next Links
// ==========================================================================

.nav-links {
    border-top: 1px solid darken($white-smoke, 5);
    padding: $spacing-base 0 $leading*2 0;
}

.nav-links a {

    &.prev {
        margin-right: $spacing-small;
    }

    &.next {
        float: right;
        margin-left: $spacing-small;
        text-align: right;
    }
}

.nav-links .icon {
    float: none;
    margin: 0 $spacing-small;
    width: 16px;
}

// ==========================================================================
// Submit Event Nav
// ==========================================================================

.submit-event .add-event {
  display: none;
}


// @large
// ==========================================================================
@media (min-width: $large) {

  @each $day in $days {

      ##{$day} .site-title a {
          color: palette($day);

          &:hover,
          &:focus {
              color: darken(palette($day), 15);
          }

      }

    }
}
