// ==========================================================================
// Nav
// ==========================================================================

.nav--global {
    margin: 0px auto;
    padding: 0;
    width: 90%;
}

.site-title__link,
.site-title__link:visited {
  color: white;
  margin-top: 0.5rem;
  text-decoration: none;
}

// ==========================================================================
// Add Event Button
// ==========================================================================

.add-event {

  a {
    @include transition(background-color .3s ease);
    border: 1px solid white;
    border-radius: 0.25rem;
    color: #FFF;
    display: inline-block;
    float: right;
    font-weight: $weight-semibold;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: darken($pacific-blue, 10%);
      color: #FFF;
      text-shadow:0px -1px 1px darken( $pacific-blue, 2%);
    }

    &:hover svg,
    &:focus svg {
        fill: #FFF;
    }

    svg {
        fill: white;
        margin-right: $spacing-small;
    }

  }

}

// @medium
// ==========================================================================
@media (min-width: $medium) {

    .nav--global ul {
        display: block;
    }

    .add-event a {
        padding: 1rem;
    }

}

// @large
// ==========================================================================
@media (min-width: $large) {

  .nav--global {
    @include flex($justify: center);
    width: 100%;
  }

  .site-title__link,
  .site-title__link:visited {
    color: $pacific-blue;
    font-size: 6em;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;

    &:hover,
    &:focus {
      color: darken($pacific-blue, 15);
    }
  }

  .add-event a {
    background-color: $pacific-blue;
    border-color: $pacific-blue;
  }
}

// ==========================================================================
// Filters
// ==========================================================================

#filters {
  @include flex($justify: center);
  @include flex-direction(column);
  border-bottom: 1px solid darken($white-smoke, 85);
  margin: 1rem 0 2rem 0;
  padding-bottom: 2rem;
}

.filter__icon {
  @include inline-flex;
  border: 2px solid transparent;
  border-radius: 100%;
  fill: darken($pacific-blue, 5);
  height: 1.5rem;
  width: 1.5rem;

  svg {
    @include align-self(center);
    margin: 0px auto;
  }

}

#label--matches {
  color: darken($white-smoke, 45);
  font-size: 1.1em;
  font-style: italic;
  text-align: center;
}


.filter-options {
  @include flex;
  @include align-self(center);
  @include flex-wrap;
}

#filters input + .filter__label {
  @include flex;
  @include align-items(center);
  border-radius: 3rem;
  background: lighten($pacific-blue, 50);
  color: darken($pacific-blue, 5);
  font-weight: 500;
  margin: 8px 8px 0 0;
  padding-right: 0.5rem;
  text-align: center;

  &:hover,
  &:focus {
    background: lighten($pacific-blue, 45);
    color: darken($pacific-blue, 20);
  }


  &:hover svg,
  &:focus svg {
    fill: desaturate(darken($pacific-blue, 10), 16);
  }
}

#filters input[type="checkbox"]:checked + .filter__label {
  background: $mountain-meadow;
  color: white;

  svg {
    fill: none;
  }

  .filter__icon {
    background: lighten($mountain-meadow, 5) url('../img/checkmark.svg') center center no-repeat;
    background-size: 1.25rem auto;
    border-color: $mountain-meadow;
  }

}

// @medium
// ==========================================================================
@media (min-width: $medium) {

  .filter__icon {
    border-width: 4px;
    height: 2.5rem;
    width: 2.5rem;
  }

  #filters input + .filter__label {
    padding-right: 0.75rem;
  }

  #filters input[type="checkbox"]:checked .filter__icon {
    background-size: 2rem auto;
  }

}

// @large
// ==========================================================================
@media (min-width: $large) {

  #filters {
    margin: 0;
  }

  #filters input + .filter__label {
    font-size: 1.111rem;
    margin: $leading/2 $leading/2 $leading/2 0;
    padding-right: 1rem;
  }

  #filters input[type="checkbox"]:checked + .filter__label {
    background: $mountain-meadow;
  }

}

// ==========================================================================
// Previous + Next Links
// ==========================================================================

.nav-links {
  padding: $spacing-base 0 $leading*2 0;
}

.nav-link__prev {
  margin-right: $spacing-small;
}

.nav-link__next {
  float: right;
  margin-left: $spacing-small;
  text-align: right;
}

.nav-links .icon {
  float: none;
  margin: 0 $spacing-small;
  width: 16px;
}

// ==========================================================================
// Submit Event Nav
// ==========================================================================

.submit-event .add-event {
  display: none;
}


// @large
// ==========================================================================
@media (min-width: $large) {

  @each $day in $days {

    ##{$day} .site-title__link,
    ##{$day} .site-title__link:visited {
      color: palette($day);
      font-size: 1.5em;

      &:hover,
      &:focus {
        color: darken(palette($day), 15);
      }

    }

    ##{$day} .nav--global {
      @include justify(flex-start);
    }

    ##{$day} .header--global {
      padding: 0 2rem;
    }

  }
}
