// ==========================================================================
// Palette Function
//
// Creates a convenience function so that references to color palette maps
// are shortened and easier.
//
// Original:
// map-get($palettes(map-get($blue, 'xx-dark')))
//
// Using Function:
// palette(blue, xx-dark)
// ==========================================================================

@function palette($palette, $shade: 'base') {
    @return map-get(map-get($palettes, $palette), $shade);
}


// ==========================================================================
// Pure Tint/Shade
//
// Sass default is to use lighten/darken, which de/saturates the color.
// This uses a pure white/black.
// ==========================================================================

@function tint($color, $percent) {
  @return mix(#FFF, $color, $percent);
}

@function shade($color, $percent) {
  @return mix(#000, $color, $percent);
}


// ==========================================================================
// Cross Browser Mixins
// ==========================================================================

// Transforms
@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

// Box Sizing
@mixin box-sizing($border-box) {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

// Visual Hide
// Hides visually, but not from Screen Readers
@mixin visual-hide {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow:hidden;
  padding:0;
  position: absolute;
}

@mixin visual-show {
  clip: auto;
  overflow: auto;
  padding: inherit;
  position: static;
}

// Colors
@mixin days($color-main) {
  color: $color-main;
}

@mixin icon-font($font-size: 1em, $margin-right: 0.50em) {
    font-family: "FontAwesome";
    font-size: $font-size;
    margin-right: $margin-right;
}
