// ==========================================================================
// Filters
// ==========================================================================

#filters {
  @include flex($justify: center);
  @include flex-direction(column);
  border-bottom: 1px solid darken($white-smoke, 85);
  margin: 1rem 0 2rem 0;
  padding-bottom: 2rem;
}

.filter__icon {
  @include inline-flex;
  border: 2px solid transparent;
  border-radius: 100%;
  fill: darken($pacific-blue, 5);
  height: 1.5rem;
  width: 1.5rem;

  .icon {
    @include align-self(center);
    margin: 0px auto;
  }

}

#label--matches {
  color: darken($white-smoke, 45);
  font-size: 1.1em;
  font-style: italic;
  text-align: center;
}

.filter-options {
  @include flex;
  @include align-self(center);
  @include flex-wrap;
}

.filter__label {
  @include flex;
  @include align-items(center);
  border-radius: 3rem;
  background: lighten($pacific-blue, 50);
  font-weight: $weight-medium;
  margin: 8px 8px 0 0;
  padding-right: 0.5rem;
  text-align: center;

  &:hover,
  &:focus {
    background: lighten($pacific-blue, 45);
    color: darken($pacific-blue, 20);
  }


  &:hover .icon,
  &:focus .icon {
    fill: desaturate(darken($pacific-blue, 10), 16);
  }
}

.js-filter:checked + .filter__label .icon {
  fill: none;
}

// ONLY @small
// ==========================================================================
@media (max-width: $medium - 1) {

  .filter__label {
    width: 6rem;
  }

}

// ONLY @small
// ==========================================================================
@media (min-width: $medium - 0.9) and (max-width: $medium) {

  .filter__label {
    width: 8rem;
  }

}

// @medium
// ==========================================================================
@media (min-width: $medium) {

  .filter__icon {
    border-width: 4px;
    height: 2.5rem;
    width: 2.5rem;
  }

  .filter__label {
    padding-right: 0.75rem;
  }

  .js-filter:checked .filter__icon {
    background-size: 2rem auto;
  }

}

// up to @large
// ==========================================================================
@media (max-width: $large) {

  .filter__label {
    color: darken($pacific-blue, 5);
  }

  .js-filter:checked + .filter__label {
    background: $mountain-meadow;
    color: white;

    .filter__icon {
      background: lighten($mountain-meadow, 5) url('../img/checkmark.svg') center center no-repeat;
      background-size: 1.25rem auto;
      border-color: $mountain-meadow;
    }

  }

}

// @large
// ==========================================================================
@media (min-width: $large) {

  #filters {
    @include justify(flex-start);
    background: darken($white-smoke, 85);
    margin: 0;
    padding-top: 2em;
    width: 25%;
  }

  .filter-options {
    @include align-content(flex-start);
    @include align-self(stretch);
    height: 100vh;
  }

  .filter__label {
    @include flex-basis(100%);
    background: transparent;
    border-radius: 0;
    font-size: 1em;
    margin: $leading/2 0;
    padding-right: 1rem;
  }

  .filter__label {
    color: white;
    border-left: 6px solid transparent;
  }

  .icon {

    .filter__label:hover &,
    .filter__label:focus & {
      fill: $mountain-meadow;
    }

  }

  .js-filter + .filter__label:hover,
  .js-filter + .filter__label:focus {
    background: darken($white-smoke, 90);
    color: white;
  }

  .js-filter:checked + .filter__label {
    background: darken($white-smoke, 90);
    border-left: 6px solid $checked-green;

    &:hover,
    &:focus {
      color: white;
    }

    .filter__icon {
      background: url('../img/checkmark.svg') center center no-repeat;
      background-size: 1.25rem auto;
    }

  }

}

// @large height + width
// ==========================================================================
@media (min-width: $large) and (min-height: $small) {

  .filter-options {
    position: fixed;
    width: 24.5%; // HACK
  }

}
