// ==========================================================================
// Event Details
// ==========================================================================



.meta-time {

    .day {
      @include flex-basis(50%);
      padding: $leading 0;
      font-size: $font-size + 0.1;
      font-weight: $weight-medium;
    }

    .title,
    .hour {
        line-height: 1.5;
    }

    .hour {
        font-weight: $weight-semibold;
    }

    .title {
        font-weight: $weight-base;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .time {
      @include flex;
      @include flex-basis(50%);
      padding: 0;
    }

    .event__start,
    .event__end {
      @include flex;
      @include flex-direction(column);
      width: 50%;
    }

}


.module-location {

    span {
        display: block;
        font-weight: $weight-medium;
    }

    .address {
        font-weight: $weight-base;
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
    }

}

.event-contact,
.event-location {
    margin: $leading 0;
}

.map__link {
  display: block;
}
.map__image {
    @include border-radius(1px);
    @include box-shadow(0px 2px 4px rgba(black, .25));
    display: block;
    border: 6px solid white;
    margin: 0px auto;
    max-width: 90%;
}

.event-contact a {
    display: inline-block;
    margin: $spacing-small;

    i {
        margin-right: $spacing-xs;
    }
}

.map__source {
    font-weight: $weight-base;
    font-style: italic;
}

.map__link {
    font-weight: $weight-medium;
    margin-top: $leading;

    span {
        color: $body-color;
        font-weight: $weight-base;
    }

}

article ol,
article ul {
    width: 84%;
    margin: 8%;
    padding: 0;
}

article li {
    line-height: $line-height;
    list-style: disc;
    max-width: 100%;
    margin-bottom:1rem;
}

.event-title {
  color: white;
}

.event-title__link {
  @include transition(150ms border-color ease-in);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

// ONLY @small
// ==========================================================================
@media (max-width: $medium) {

  .header--party-name {
    padding: 0 1rem;
  }

}

// @medium
// ==========================================================================
@media (min-width: $medium) {

  .event-title {
    margin: 1em 0 2em 0;
    text-align: center;
    width: 100%;
  }

  .header--party-name {
    width: 100%;
  }

  .map__image {
    border: none;
    border-radius: 0.25rem  0.25rem 0 0;
    box-shadow: none;
    max-width: 100%;
  }

  .meta-time .day,
  .event__start,
  .event__end {
      text-align: center;
  }

  .meta-time .time {
    @include flex;
  }

  .event__start {
    border-right: 1px solid darken($white-smoke, 5);
  }

  .meta-time .title,
  .meta-time .hour {
    padding: 0 $leading;
  }

  article h2,
  .location__title,
  .event-contact h3 {
    margin-bottom: 10px;
  }

}

// @large
// ==========================================================================
@media (min-width: $large) {

  .event-title {
    font-size: 3.5em;
  }

  .event-title__link {
    font-weight: $weight-base;
  }

  .event-location {
    background: white;
  }

  .event-map {
    @include flex;
    @include flex-wrap(wrap);
  }

  .map-actions {
    @include align-self(center);
  }


}

// ==========================================================================
// #REFACTOR
//
// Party details + icons
// ==========================================================================

.list-details {
  @include flex($justify: flex-start);
  margin: 0;
  width: auto;
}

.event-info li {
  color: darken($white-smoke, 40);
  fill: darken($white-smoke, 20);
  font-weight: $weight-medium;
  font-style: italic;
  list-style: none;
  margin: $spacing-small;
  text-align: center;
}
